.card {
    margin-bottom: 15px;
    background: var(--card-background-color);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.card._is-expanded {
    margin-bottom: 30px;
}

.card._is-expanded .card_toggle {
    transform: rotate(90deg);
}
