.chart-tabs--data,
.chart-tabs--code {
    height: auto;
}

.chart_header {
    flex-direction: column;
    color: #fff;
    margin-bottom: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    position: relative;
}

.chart_header-left {
    justify-content: flex-start;
}

.chart {
    width: 100%;
    height: 240px;
}

.chart__title {
    display: flex;
    align-items: center;
    width: 100%;
}
