.page_content {
    margin: 0 50px;
    position: relative;
}

.inner-content {
    padding-top: 10px;
    background-image: linear-gradient(-90deg, #dc5a32, #c44a67);
    background-size: 100% 150px;
    background-repeat: no-repeat;
    background-position: top left;
}

.chart_header {
    height: 130px;
}

.chart_header code {
    color: #fff;
}
