.mini-nav {
    position: fixed;
    top: var(--header-height);
    /*bottom: 0;*/
    left: 0;
    width: var(--mini-nav-width);
    z-index: 30;
    background: var(--mini-nav-background-color);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.mini-nav a {
    border-bottom: none;
}

.mini-nav_icon {
    display: block;
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
    transform: scale(0.76);
    transform-origin: top left;
    z-index: 2;
    pointer-events: none;
}

.mini-nav_item {
    cursor: pointer;
    width: var(--mini-nav-item-size);
    height: var(--mini-nav-item-size);
    position: relative;
}

.mini-nav_item:before {
    content: '';
    position: absolute;
    display: block;
    width: var(--mini-nav-item-size);
    height: var(--mini-nav-item-size);
    border-radius: 100%;
    background: #eee;
    opacity: 0;
    top: 0;
    left: 0;
    transform: scale(0.6);
    transition: opacity 200ms, transform 400ms;
    z-index: 1;
}

.mini-nav_item:hover:before {
    opacity: 1;
    transform: scale(.88);
}

.mini-nav_item_label {
    display: flex;
    position: absolute;
    left: 110%;
    top: 50%;
    height: 30px;
    font-size: 13px;
    font-weight: 600;
    white-space: pre;
    align-items: center;
    background: var(--accent-color);
    color: white;
    text-decoration: none;
    margin-top: -15px;
    padding: 0 10px;
    border-radius: 2px;
    z-index: 3;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    min-width: var(--mini-nav-item-size);
    pointer-events: none;
    transform: translate3d(20px,0,0);
    opacity: 0;
    transition: opacity 200ms, transform 200ms;
}

.mini-nav_item:hover .mini-nav_item_label {
    opacity: 1;
    transform: translate3d(0,0,0);
}
