/*
 * Tablet
 */
@media only screen and (min-width: 760px) and (max-width: 1000px) {
    .page_content {
        margin: 0 30px;
    }

    .components__grid__item {
        width: 49%;
    }

    .guide__description {
        margin: 0 15px 50px;
    }

    .guide__illustrations__item {
        height: 160px;
    }
}

/*
 * Mobile 
 */
@media only screen and (max-width: 760px) {
    .page_content {
        margin: 0 15px;
    }

    .components__grid {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    }

    .components__grid__item {
        width: 100%;
        margin: 0;
        border-width: 0;
        border-top-width: 1px;
        border-color: #eee;
        box-shadow: none;
    }

    .components__grid__item:focus,
    .components__grid__item:hover {
        background-color: var(--main-background-color);
        border-color: #eee;
    }

    .components__grid__item:first-child {
        border-top-width: 0;
    }

    .main-chart {
        margin-left: -15px;
        margin-right: -15px;
        width: auto;
    }

    .guide__description {
        margin: 0 15px 50px;
    }

    .guide__illustrations__item {
        width: 80%;
        height: 120px;
        margin-top: 10px;
    }
    .guide__illustrations__item:first-child {
        margin-top: 0;
    }

    .guide__code {
        font-size: 14px;
        line-height: 1.6em;
    }

    .fill-sample {
        flex-direction: column;
    }

    .fill-sample__preview {
        margin: 0 auto 15px auto;
    }

    .fill-sample__code {
        margin-left: 0;
    }

    .components__sub-header {
        flex-direction: column;
    }

    .ComponentsSearch {
        width: 100%;
        margin-bottom: 15px;
    }

    .ComponentsFilters {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .home_item,
    a.home_item {
        width: 33.33%;
        height: 25%;
    }
}

@media (max-width: 1000px) {
    .home_item,
    a.home_item {
        width: 50%;
        height: 25%;
    }
}

@media (max-width: 700px) {
    .home {
        height: auto;
        display: block;
        position: relative;
    }

    .home_item,
    a.home_item {
        width: 100%;
        height: 160px;
    }
}
