:root {
    --header-height: 60px;
    --sidebar-width: 260px;
    --content-margin: 40px;
    --mini-nav-item-size: 66px;
    --mini-nav-width: calc(var(--mini-nav-item-size) * 2);
    --header-bottom-offset: 130px;

    --control-switch-width: 36px;
    --control-switch-height: 18px;
    --control-switch-padding: 3px;
    --control-switch-border-width: 0px;

    --control-label-position-width: 8px;
    --control-label-position-height: 8px;
}
